#clock{
    position: relative;
    border: 2px solid red;
    height: 45vw;
    width: 45vw;
    background: url(clock.jpg) no-repeat;
    background-size: 100%;
    margin: auto;
}
#hour,#minute,#second {
    position: absolute;
    border-radius: 10px;
    background-color: black;
    transform-origin: bottom;
}
#hour{
    width: 1.5%;
    height: 22%;
    top: 28.45%;
    left: 49.2%;
    opacity: 0.8;
}
#minute{
    width: 0.7%;
    height: 28%;
    top: 22.3%;
    left: 49.65%;
    opacity: 0.8;
}
#second{
    width: 0.3%;
    height: 40%;
    top: 10%;
    left: 49.8%;
    opacity: 0.8; 
}